/* 
Dark Vanilla: #d3cba7
Sangria: #9c040b
Dark Puce: #502c3b
Field Drab: #6b5917
Pink: #d97e8a
off white: #f8f4ef
near black: #0f0b0d*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: 'JaneAusten';
    src: url('fonts/JaneAusten.woff2') format('woff2'),
        url('fonts/JaneAusten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f8f4ef;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

main, header {
    width: 100%;
    max-width: 1050px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.8em;
    padding:  1em;
    font-size: 1.4rem;
    /*box-shadow: 0px 3px 5px #0f0b0d;*/
}

.nav {
    width: 100%;
    justify-content: space-between;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
}

.nav a {
    color: #0f0b0d;
}

.nav a:hover {
    
}

#top-separator {
    width: 105%;
    margin-top: 1rem;
    border-top: 1px solid #9c040b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1em 0.2em;
    font-size: 2.5rem;
    font-family: 'JaneAusten', sans-serif;
    color: #0f0b0d;
}

#home-collage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home-top {
    flex: 2;
    display: flex;
    width: 100%;
}

#home-topleft {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#home-topleft-images {
    width: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-bottom: -20%;
}

#home-topleft-images img {
    width: 67%;
    align-self: flex-end;
}

#home-topleft-images .sticky {
    width: 59%;
    aspect-ratio: 1;
    background-color: #d3cba7;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    top: -18%;
}

.sticky ul {
    flex-direction: column;
    list-style-type: "☆";
    font-family: 'JaneAusten', sans-serif;
    padding: 0 4rem;
    font-size: 1.6rem;
    color:#0f0b0d;
    justify-content: center;
}

#home-topleft .button-container {
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-topleft button {
    font-size: 1.4rem;
    color: #0f0b0d;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 0.8rem 1.2rem 0.6rem 1.2rem;
    background-color: #d97e8a;
    border: 0;
    border-radius: 0;
}

button span {
    margin-left: 0.6rem;

}

#home-topright {
    width: 100%;
    margin-left: 2rem;
    flex: 3;
    position: relative;
}

#home-topright img {
    width: 100%;
}

#home-topright button {
    font-size: 1.4rem;
    color: #f8f4ef;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 0.8rem 1.2rem 0.6rem 1.2rem;
    background-color: #9c040b;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 8%;
    left: 4%;
    transform: rotate(-11deg);
}

#home-paste-image1 {
    position: absolute;
    width: 39%;
    top: 74%;
    left: -13%;
}

#home-paste-image2 {
    position: absolute;
    width: 34%;
    top: 89%;
    right: -3%;
    transform: rotate(10deg);
}

#home-bottom {
    width: 100%;
    flex: 1;
    margin-top: 2rem;
    position: relative;
}

#home-bottom .img-container {
    width: 33%;
    margin-right: 2rem;
}


#home-bottom .button-container {
    position: absolute;
    flex: 2;
    top: 30%;
    left: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-bottom button {
    font-size: 1.4rem;
    color: #f8f4ef;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 0.8rem 1.2rem 0.6rem 1.2rem;
    border: 0px;
    background-color: #6b5917;
}

.bottom-container {
    position: relative;
    width: 100%;
}

.bottom-container .button-container {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.bottom-pic {
    position: relative;
    margin-top: 1rem;
    width: 100%;
}

.bottom-container button {
    margin: 1rem 0;
    font-size: 1.4rem;
    color: #f8f4ef;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 0.8rem 1.2rem 0.6rem 1.2rem;
    background-color: #502c3b;
    border:0;
}
