/* 
TODO:
organize css and html classes
hover functionality
more stylization 
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: 'JaneAusten';
    src: url('fonts/JaneAusten.woff2') format('woff2'),
        url('fonts/JaneAusten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --off-white: #f8f4ef;
    --near-black: #0f0b0d;
    --sangria: #9c040b;
    --plum: #502c3b;
    --pink: #d97e8a;
    --dark-vanilla: #d3cba7;
    --field-drab: #6b5917;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--off-white);
    line-height: 1.5;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 600px; /* remove later for mobile */
    margin: 0 2rem; 
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul img {
    width: 2rem;
    margin: 0.5rem;
}

main, 
header, 
footer {
    width: 100%;
    max-width: 1050px;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}


.btn {
    font-size: 1.4rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.8rem 1.2rem 0.6rem 1.2rem;

    border: 0;
    border-radius: 0;
}

.btn span {
    margin-left: 0.6rem;

}

.btn--pink {
    background-color: var(--pink);
    color: var(--near-black);
}

.btn--sangria {
    color: var(--off-white);
    background-color: var(--sangria);
}

.btn--field {
    color: var(--off-white);
    background-color: var(--field-drab);
}

.btn--plum {
    color: var(--off-white);
    background-color: var(--plum);
}

p {
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    margin: 1em 0.2em;
    font-size: 2.5rem;
    font-family: 'JaneAusten', sans-serif;
    color: var(--near-black);
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
    font-family: 'JaneAusten', sans-serif;
    color: var(--near-black);
    margin: 1em 0.2em;
    text-align: center;
    font-weight: normal;
}

header {
    margin-top: 1rem;
}

header, 
footer {
    padding:  1em;
}

footer {
    border-top: 1px
}

.nav {
    width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
}

.nav a {
    color: var(--near-black);
}

.top-separator {
    width: 105%;
    margin-top: 1rem;
    border-top: 2px solid var(--sangria);
}

.bottom-separator {
    width: 105%;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--field-drab);
}

.home-collage {
    width: 100%;
}

.home-top {
    flex: 2;
    width: 100%;
}

.home-topleft {
    flex: 2;
    width: 100%;
}

.home-topleft-images {
    width: 100%;
}

.home-topleft-images img {
    width: 67%;
    align-self: flex-end;
}

.home-topleft-images .sticky {
    width: 59%;
    aspect-ratio: 1;
    background-color: var(--dark-vanilla);
    min-width: 23ch;
    margin-top: -20%;
}

.sticky ul {
    list-style-type: "☆";
    font-family: 'JaneAusten', sans-serif;
    padding: 0 4rem;
    font-size: 1.6rem;
    color: var(--near-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-topleft .button-container {
    flex: 1;
    width: 100%;
}

.home-topright {
    width: 100%;
    margin-left: 2rem;
    flex: 3;
    position: relative;
}

.home-topright .btn {
    position: absolute;
    top: 8%;
    left: 4%;
    transform: rotate(-11deg);
}

.home-paste-imageleft {
    position: absolute;
    width: 39%;
    bottom: -25%;
    left: -13%;
}

.home-paste-imageright {
    position: absolute;
    width: 34%;
    bottom: -18%;
    right: -3%;
    transform: rotate(10deg);
}

.home-bottom {
    width: 100%;
    flex: 1;
}

.home-bottom .img-container {
    flex: 1;
}

.home-bottom .button-container {
    flex: 2;
}

.bottom-container {
    position: relative;
    width: 100%;
}

.bottom-container .button-container {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 1rem 0;
}

.bottom-pic {
    position: relative;
    margin-top: 1rem;
    width: 100%;
}

/*About Page*/

.about-left {
    align-items: center;
    padding: 0 1.2rem;
    flex: 2;
}

.about-left .img-container {
    padding: 1rem 0.6rem 1.2rem 0.2rem;
}

.about-left img {
   border-radius: 18px;
}

.about-right {
    min-width: 320px;
    padding: 0 1.2rem;
    flex: 1;
}

.about-left.sect {
    border: 5px double var(--pink);
}

.sect + .sect {
    border: 5px double var(--dark-vanilla);
}

.about-right .sect:first-child {
    border: 5px double var(--plum);
}

.sect p {
    padding: 0 1rem 1rem 1rem;
}

.sect + .sect {
    margin-top: 1rem;
}

.para-start {
    font-size: 1.5rem;
    font-family: 'JaneAusten', sans-serif;
    margin-right: 0.5ch;
}
