@font-face {
    font-family: 'JaneAusten';
    src: url('JaneAusten.woff2') format('woff2'),
        url('JaneAusten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('Oranienbaum.woff2') format('woff2'),
        url('Oranienbaum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

